{% extends "layout.html" %}

{% block title %}
{%- if adding %}Add{%-else%}Edit{%-endif%} Forum Helper
{% endblock %}

{% block body %}
<div class="page-header">
    <h1>{{team.name}} <small>{%- if adding %}Add{%-else%}Edit{%-endif%} Forum Helper</small></h1>
</div>

    <p>
    A forum helper posts a message to your forum so
    all your players know when a new match has been posted.
    </p>
    <p>
    <strong>You must create the forum user yourself.</strong>
    The username and password you
    specify will be used to sign in to your forums and post the message.  Make
    sure your user has appropriate permissions to post to the forum specified.
    </p>


    <form action="" method="post">
        <fieldset>
            {{ form.hidden_tag() }}
            {% for field in form if not field|is_hidden_field -%}
                {% if field.type != 'FieldList' -%}
                    <div class="control-group {% if field.errors -%} error{%-endif-%}">
                        {{ field.label(class="control-label") }}
                        <div class="controls">
                            {{ field(class='span5') }}
                            {% if field.errors|length > 1 -%}
                                <ul class="help-block">
                                    {% for error in field.errors %}<li>{{error}}</li>{% endfor -%}
                                </ul>
                            {% elif field.errors|length == 1 -%}
                                <span class="help-inline">{{field.errors[0]}}</span>
                            {% endif -%}
                            {% if field.name == 'url' %}
                                <span class="help-block">
                                    (e.g., http://forums.raraavises.net &mdash; do not
                                    include a trailing file name like index.php)
                                </span>
                            {% endif %}
                        </div>
                    </div>
                {% endif -%}
            {% endfor -%}

            <button type="submit" class="btn btn-primary"/>
                {%- if adding %}Add Forum Helper{% else %}Save Forum Helper{% endif %}
            </button>
        </fieldset>
    </form>

    {% if forum_bot_id %}
        <h2>Delete Forum Helper</h2>
        <form method="post" action="{{url_for('forum_bot', team_id=team.id, forum_bot_id=forum_bot_id, action='delete')}}">
            <button type="submit" class="btn btn-danger">Delete Forum Helper</button>
        </form>
    {% endif %}
{% endblock %}


