{% extends "layout.html" %}
{% block body %}
<h2>Administration</h2>

    <div id="opponents_table">
    <h3>Opponents</h3>

    <p><a href="{{url_for('add_opponent', team_id=team.id)}}">Add
    Opponent</a></p>

    <table>
        <tr>
            <th>Name</th>
            <th>Tag</th>
        </tr>
        {%- for o in opponents %}
            <tr>
                <td><a href="{{
                url_for('opponent',team_id=team.id,opponent_id=o.id,action='edit') }}">{{ o.name }}</a></td>
                <td>{{ o.tag }}</td>
            </tr>
        {%- endfor %}
    </table>
    </div>


    <div id="servers_table">
    <h3>Servers</h3>
    <p><a href="{{url_for('add_server', team_id=team.id)}}">Add
    Server</a></p>
    <table>
        <tr>
            <th>Name</th>
            <th>Address</th>
        </tr>
        {%- for s in servers %}
            <tr>
                <td><a
                href="{{url_for('server',team_id=team.id,server_id=s.id,action='edit')}}">{{ s.name }}</a></td>
                <td>{{ s.address }}</td>
            </tr>
        {%- endfor %}
    </table>
    </div>


    <div id="forum_bots_table">

    <h3>Forum Bots</h3>

    <p><a href="{{url_for('add_forum_bot', team_id=team.id)}}">Add
    Forum Bot</a></p>

    <table>
        <tr>
            <th>#</th>
            <th>Type</th>
            <th>URL</th>
            <th>Forum <br/>ID</th>
            <th>User Name</th>
            <th>Password</th>
            <th>Post when a match<br />from this game is added</th>
        </tr>
        {%- for s in forum_bots %}
            <tr>
                <td><a
                href="{{url_for('forum_bot',team_id=team.id,forum_bot_id=s.id,action='edit')}}">{{
                s.id }}</a></td>
                <td>{{ s.type|pretty_forum_bot_type }}</td>
                <td>{{ s.url }}</td>
                <td>{{ s.forum_id }}</td>
                <td>{{ s.user_name }}</td>
                <td>{{ s.password }}</td>
                {%- if s.game -%}
                    <td>{{ s.game.name }}</td>
                {%- else -%}
                    <td>Any Game</td>
                {%- endif -%}
            </tr>
        {%- endfor %}
    </table>
    </div>
{% endblock %}
