{% extends "layout.html" %}
{% block title %}
{{team.name}} - Team Administration
{% endblock %}
{% block body %}
<div class="page-header">
    <h1>{{team.name}} <small>Administration</small></h1>
</div>

    <div class="span5 flush-left">
    <h2>Opponents</h2>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Name</th>
                <th>Tag</th>
            </tr>
        </thead>
        <tbody>
            {%- for o in opponents %}
                <tr>
                    <td><a href="{{
                    url_for('opponent',team_id=team.id,opponent_id=o.id,action='edit') }}">{{ o.name }}</a></td>
                    <td>{{ o.tag }}</td>
                </tr>
            {%- endfor %}
        </tbody>
    </table>
    </div>
    <div class="clearfix"></div>
    <div>
        <a class="btn" href="{{url_for('add_opponent', team_id=team.id)}}">Add Opponent</a>
    </div>

    <div class="span5 flush-left">
    <h2>Servers</h2>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody>
        {%- for s in servers %}
            <tr>
                <td><a
                href="{{url_for('server',team_id=team.id,server_id=s.id,action='edit')}}">{{ s.name }}</a></td>
                <td>{{ s.address }}</td>
            </tr>
        {%- endfor %}
        </tbody>
    </table>
    </div>
    <div class="clearfix"></div>
    <div>
    <a class="btn" href="{{url_for('add_server', team_id=team.id)}}">Add Server</a>
    </div>

    <div>
    <h2>Forum Helpers</h2>

    <table class="table table-condensed">
        <thead>
        <tr>
            <th>#</th>
            <th>Type</th>
            <th>URL</th>
            <th>Forum <br/>ID</th>
            <th>User Name</th>
            <th>Password</th>
            <th>Post when a match<br />from this game is added</th>
        </tr>
        </thead>
        <tbody>
        {%- for s in forum_bots %}
            <tr>
                <td><a
                href="{{url_for('forum_bot',team_id=team.id,forum_bot_id=s.id,action='edit')}}">{{
                s.id }}</a></td>
                <td>{{ s.pretty_type }}</td>
                <td>{{ s.url }}</td>
                <td>{{ s.forum_id }}</td>
                <td>{{ s.user_name }}</td>
                <td>{{ s.password }}</td>
                {%- if s.game -%}
                    <td>{{ s.game.name }}</td>
                {%- else -%}
                    <td>Any Game</td>
                {%- endif -%}
            </tr>
        {%- endfor %}
        </tbody>
    </table>
    </div>
    <div class="clearfix"></div>
    <div>
    <a class="btn" href="{{url_for('add_forum_bot', team_id=team.id)}}">Add Forum Helper</a>
    </div>

{% endblock %}
