{% extends "layout.html" %}
{% import 'helpers/forms.html' as forms %}
{% block body %}
    {% if adding %}
        {{ forms.opponent(form, team) }}
    {% else %}
        {{ forms.opponent(form, team, opponent_id) }}
    {% endif %}

    {% if opponent_id %}
    <h2>Delete Opponent</h2>
    <form method="post" action="{{url_for('opponent', team_id=team.id,
    opponent_id=opponent_id, action='delete')}}">
    <p>
    <span class="label label-important">Careful!</span>
    This will remove all matches and results with this opponent.
    </p>
    <button type="submit" class="btn btn-danger">Delete Opponent</button>
    </form>
    {% endif %}
{% endblock %}
