{% extends "layout.html" %}
{% import 'helpers/forms.html' as forms %}
{% block body %}
    {% if adding %}
        {{ forms.server(form, team) }}
    {% else %}
        {{ forms.server(form, team, server_id) }}
    {% endif %}

    {% if server_id %}
    <h2>Delete Server</h2>
    <form method="post" action="{{url_for('server',team_id=team.id,
    server_id=server_id, action='delete')}}">
    <p>
    <span class="label label-important">Careful!</span>
    This will remove all matches and results on this server.
    </p>
    <button type="submit" class="btn btn-danger">Delete Server</button>
    </form>
    {% endif %}
{% endblock %}

