.sorting_asc {
	cursor: pointer;
	* cursor: hand;
	background: #fff url('/static/datatables/sort_asc.png') no-repeat center right;
    padding-right: 20px;
}

.sorting_desc {
	cursor: pointer;
	* cursor: hand;
	background: #fff url('/static/datatables/sort_desc.png') no-repeat center right;
    padding-right: 20px;
}

.sorting {
	cursor: pointer;
	* cursor: hand;
	background: #fff url('/static/datatables/sort_both.png') no-repeat center right;
    padding-right: 20px;
}

.sorting_asc_disabled {
    padding-right: 20px;
}

.sorting_desc_disabled {
    padding-right: 20px;
}
