{% extends "layout.html" %}
{% block title %}
    {% if settings %}
        Settings
    {%- else -%}
        Create Account
    {%- endif -%}
{% endblock %}
{% block body %}

<div class="page-header">
    <h1>{% if settings %}Settings{%- else -%}Create Account{% endif %}</h1>
</div>

    {% if not settings %}
        <p>
            Welcome!  This is the first time you've signed in.  In
            order to proceed, we need some information from you first.
        </p>
    {%- endif -%}

    <form action="" method="post">
        <fieldset>
            {{ form.hidden_tag() }}
            {% for field in form if not field|is_hidden_field -%}
                {% if field.type != 'FieldList' -%}
                    <div class="control-group {% if field.errors -%} error{%-endif-%}">
                        {{ field.label(class="control-label") }}
                        <div class="controls">
                            {{ field(class='span5') }}
                            {% if field.errors|length > 1 -%}
                                <ul class="help-block">
                                    {% for error in field.errors %}<li>{{error}}</li>{% endfor -%}
                                </ul>
                            {% elif field.errors|length == 1 -%}
                                <span class="help-inline">{{field.errors[0]}}</span>
                            {% endif -%}
                        </div>
                    </div>
                {% endif -%}
            {% endfor -%}

            <button type="submit" class="btn btn-primary">{%- if settings -%}Save Settings{%- else -%}Create Account{%- endif -%}</button>
        </fieldset>
    </form>

    {% if not settings %}
        <p>
        If you don't want to proceed, you can <a href="{{ url_for('signout')
        }}">sign out</a> instead.
        </p>
    {% endif -%}
{% endblock %}
