{% extends "layout.html" %}
{% block title %}Sign In{% endblock %}
{% block body %}
<div class="page-header">
    <h1>Sign In</h1>
</div>

    {%- if create -%}
    <p>Sign in through Steam or enter your OpenID in the box below.</p>
    {%- endif -%}

    <form action="{{url_for('account.signin')}}" method="post">
      <input type="hidden" name="next" value="{{ n }}"/>
      <p><input type="image" src="/static/img/sits_small.png"
      name="submit_sits" value="Sign In Through Steam" title="Sign In Through Steam"/></p>

    {% if create %}
      <label for="openid">OpenID</label>
      <input type="text" name="openid"/>
      <input type="hidden" name="t" value="{%- if create -%}create{%-endif-%}"/>
      <button class="btn btn-primary" type="submit">Sign In</button>
    {% endif %}
  </form>
{% endblock %}
