{% extends "layout.html" %}
{% block title %}Sign In{% endblock %}
{% block body %}
<div class="page-header">
    <h1>Sign In</h1>
</div>

    {%- if create -%}
    <p>Sign in through Steam or enter your OpenID in the box below.</p>
    {% else %}
    <p>Click the <strong>Sign in through Steam</strong> button to continue.</p>
    {%- endif -%}

    <form action="{{url_for('account.signin')}}" method="post">
      <input type="hidden" name="next" value="{{ n }}"/>
      <input type="hidden" name="t" value="{%- if create -%}create{%-endif-%}"/>

      <input type="image" src="/static/img/sits_small.png"
      name="submit_sits" value="Sign In Through Steam" title="Sign In Through Steam"/>

      {% if create %}
      <fieldset style="margin-top: 10px;">
          <label for="openid">OpenID</label>

          <div class="control-group">
              <div class="controls">
                  <input type="text" name="openid"/>
              </div>
          </div>

          <button class="btn btn-primary" type="submit">Sign In</button>
      </fieldset>
    {% endif %}
  </form>
{% endblock %}
