.flush-left {
    margin-left: 0 !important;
    padding-left: 0;
}
body {
    padding-top: 60px;i
    padding-bottom: 40px;
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
      float: none;
      padding-left: 5px;
      padding-right: 5px;
    }
}

.sidebar-nav { padding: 9px 0; }
.table-nonfluid { width: auto; }
#signout { margin-left: 20px; }
.status-buttons-wrap { text-align: center; }
.modal form { margin: 0 !important; }
p.comments { margin-bottom: 0 !important; }
.server-header { vertical-align: text-top; }
.btn-copy { padding: 0 6px 0 3px !important; margin-left: 2px; }

.zeroclipboard-is-hover {
    /* This is copied from bootstrap since .btn:hover is not also a separate
     * class like .btn:active and .btn.active.
     */
    color: #333333;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
    color: #333333;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.custom-icon-copy {
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: text-top;
    margin: 0;
    padding: 0;
	background: url('/static/img/copy.png') no-repeat center right;
}

.round { clear: both; margin-bottom: 20px; }
.round_players table { caption-side: bottom; }

.res_win { color: #0b0; }
.res_loss { color: #b00; }
.res_draw { color: #777; }

.records-table { display: none; }
.records-table caption { text-align: left; }
.records-table tr { font-size: 12px; }
.records-table td { white-space: nowrap; }
.records-table, .records-table table { margin-bottom: 0 !important; padding-bottom: 0 !important; }

/* datatables stuff */
.sorting_asc {
	cursor: pointer;
	* cursor: hand;
	background: #fff url('/static/img/sort_asc.png') no-repeat center right;
    padding-right: 20px;
}

.sorting_desc {
	cursor: pointer;
	* cursor: hand;
	background: #fff url('/static/img/sort_desc.png') no-repeat center right;
    padding-right: 20px;
}

.sorting {
	cursor: pointer;
	* cursor: hand;
	background: #fff url('/static/img/sort_both.png') no-repeat center right;
    padding-right: 20px;
}

.sorting_asc_disabled { padding-right: 20px; }
.sorting_desc_disabled { padding-right: 20px; }

.hero-unit h1 { margin-bottom: 10px; }

.jumbotron {
    margin: 20px 30px;
    text-align: center;
}
.jumbotron h1 {
    font-size: 100px;
    line-height: 1;
}
.jumbotron p {
    font-size: 24px;
    line-height: 1.25;
}
