{% extends "layout.html" %}
{% import 'helpers/forms.html' as forms %}
{% block head %}
<link href="/static/fancybox/jquery.fancybox-1.3.4.css" media="screen" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/main.min.js"></script>
<script type="text/javascript" src="/static/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<link type="text/css" href="/static/jqueryui/css/redmond/jquery-ui-1.8.10.custom.css" rel="stylesheet" />
<script type="text/javascript" src="/static/jqueryui/js/jquery-ui-1.8.10.custom.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#opponent_form input[type=submit]').click(function() {
        return save_form('opponent');
    });
    $('#server_form input[type=submit]').click(function() {
        return save_form('server');
    });
    $('#add_opp_link').fancybox({
        'titleShow' : false
    });
    $('#add_server_link').fancybox({
        'titleShow' : false
    });
    $('#match_form input.date').datepicker({
        showOtherMonths: true,
        selectOtherMonths: true,
        showOn: "both",
        buttonImage: "/static/calendar.png",
        buttonImageOnly: true,
        showButtonPanel: true
    });
});
</script>
{% endblock %}
{% block body %}
  <h2>{% if adding %}New Match{%else%}Edit Match{%endif%}</h2>
  <form id="match_form" action="" method=post>
    <input type="hidden" name="from" value="{{ request.values.get('from') }}"/>
    {{ form.hidden_tag() }}

    {% if form.errors %}
        <p>Uh oh! Please fix the errors below and try again.</p>
    {% endif %}

    {% for field in form if field.type != 'HiddenField' and field.type !=
    'HiddenIntegerField' -%}
        {% if field.type == 'FieldList' %}
            {% if not adding and field|count %}
                <h2>Players</h2>
                <table>
                <tr>
                <th>Player</th>
                <th>Status</th>
                <th>Remove?</th>
                </tr>
                {% for f in field %}
                    {% if f.type == 'FormField' %}
                        <tr>
                        <td>{{ players[f['user_id'].data] }}</td>
                        <td>
                        {% if f.status.disabled %}
                            {{ f.status(disabled='disabled') }}
                        {% else %}
                            {{ f.status }}
                        {% endif -%}
                        </td>
                        <td>
                        {% if f['delete'].disabled %}
                            {{ f.delete(disabled="disabled") }}
                        {% else %}
                            {{ f.delete }}
                        {% endif -%}
                        </td>
                        </tr>
                    {% endif -%}
                {% endfor %}
                </table>
            {% endif %}
        {% elif field.type != 'FieldList' %}
            {% if field.name == 'team_id' and field.choices|count == 1 %}
                <input type="hidden" name="{{field.name}}" 
                    value="{{ field.choices[0][0] }}"/>
            {% else %}
            <p>
                {{ field.label }}
                {% if field.name == 'date' -%}
                <span>(in {{ user_tz_names[0] }})</span>
                {%- endif -%}
                <br/>
                {% if field.errors -%}
                    <div class="errors">
                    <ul>
                    {% for error in field.errors %}<li>{{error}}</li>{% endfor -%}
                    </ul>
                    </div>
                {% endif -%}
                {{ field}}
                {% if field.name == 'opponent_id' %}
                <span><a id="add_opp_link" href="#opponent_form_container" title="Add an opponent">or add an opponent</a></span>
                {% elif field.name == 'server_id' %}
                <span><a id='add_server_link' href="#server_form_container">or add a server</a></span>
                {% elif field.name == 'competition_id' %}
                <span><a href="{{url_for('.contact')}}">or ask for a new competition</a></span>
                {% elif field.name == 'date' -%}
                <span>{{ user_tz_names[1] }} <a
                href="{{url_for('account.settings')}}">or change your time zone</a></span>
                {% endif -%}
            </p>
            {% endif %}
        {% endif %}
    {% endfor -%}

    <p>
      <input type="submit" name="submit" 
        value="{%- if adding %}Add Match{%else%}Save Match{%endif%}">
    </p>
  </form>

    {% if match_id %}
    <p>
    <h2>Delete Match</h2>
        <form method="post" action="{{url_for('matches.show', match_id=match_id,
        action='delete')}}">
        <input type="submit" value="Delete Match"/>
        </form>
    </p>
    {% endif %}

    <div style="display:none;">
        <div id="opponent_form_container">
            <div>
            {{ forms.opponent(oform, g.team_leader_teams[0]) }}
            </div>
        </div>
    </div>

    <div style="display:none;">
        <div id="server_form_container">
            <div>
            {{ forms.server(sform, g.team_leader_teams[0]) }}
            </div>
        </div>
    </div>

    <div id="stuff">
    </div>

{% endblock %}
