{% extends "layout.html" %}
{% import 'helpers/gcal.html' as gcal %}
{% block head %}
<script type="text/javascript" src="/static/zeroclipboard/ZeroClipboard.js"></script>
<script type="text/javascript">
ZeroClipboard.setMoviePath( '{{url_for('.static', filename='zeroclipboard/ZeroClipboard.swf',
_external=True)}}' );
</script>
{% endblock %}
{% block body %}
        
    <h2>{{match.team.name}} vs. {{match.opponent.name}}
    {% if match.team.id|can_edit_match -%}
    <a class="header_link" title="Edit this match"
    href="{{ url_for('matches.show', action='edit',match_id=match.id,
    from='single')}}"
    ><img src="/static/pencil.png"/></a>
    {%- endif -%}
    </h2>

    <h3>{{ match.date|matches_datetime_format_full }}
    <a href="{{gcal.link(match)}}"
        title="Add this match to Google Calendar"
        class="header_link"
        target="_blank"><img
        src="{{url_for('.static', filename='googlecalendar.png')}}" /></a>
    </h3>

    <table id="single_match_details">
    <tr>
        <th>Posted By</th><td>{{ match.user.name }}</td>
    </tr>
    <tr>
        <th>Competition</th><td>{{ match.competition.name }}</td>
    </tr>
    {%- if match.server -%}
        <tr><th>Server</th><td>{{ match.server.name }}</td></tr>
        <tr><th>Address</th><td>
        <div id="m_addr_data">{{ match.server.address }}</div>
        {%- if match.competition.game.server_copy_format -%}
        <div class="m_copy_server_info_container">
        <div id="copy_server_info_cont" class="m_copy_server_info">
            <div title="Copy server info to clipboard"
            id="copy_server_info">
            &nbsp;
            </div>
        </div>
        </div>
        <script type="text/javascript">
            var clip = new ZeroClipboard.Client();
            var txt = "{{match.competition.game.server_copy_format|server_copy_text(match)}}";
            clip.setText(txt);
            clip.setHandCursor(true);
            clip.glue( 'copy_server_info',
            'copy_server_info_cont' );
            document.getElementById(clip.movieId).title = "Copy server info to clipboard";
        </script>
        {%- endif -%}
        </td></tr>
        {%- if match.password|trim|length %}
        <tr>
            <th>Password</th><td>{{ match.password }}</td>
        </tr>
        {%- endif -%}
    {%- endif -%}
    </table>

    <div class="grid_7 suffix_5 alpha omega">

    {%- if match.comments|trim|length -%}
    <div id="single_match_comments">
        <h4>Comments</h4>
        {{match.comments|trim|nl2br|replace("<p>"|safe, "<p class='first'>"|safe, 1)}}
    </div>
    {%- endif -%}

    <div class="match_block">
        {%- for p in match.players %}
            {%- if loop.first -%}
                <table class="players">
                <tr>
                <th>Player</th><th>Status</th><th>Last Updated</th></tr>
            {%- endif %}

            {%- if p.user.id == g.user.id -%}
            <tr class="current_user">
            {%- else %}
            <tr>
            {%- endif %}
            <td>{{ p.user.name }}</td>
            <td class="{{ p.status|pretty_match_player_status|lower }}">
            {{ p.status|pretty_match_player_status }}</td>
            <td>{{p.date_updated|match_last_updated_format}}</td>
            </tr>

            {%- if loop.last -%}
                </table>
            {%- endif %}
        {%- endfor %}

        {%- if when == 'upcoming' -%}
        <div class="status_buttons">
        <form method="post" action="{{ url_for('matches.show', match_id=match.id, action='status') }}">
        <input type="hidden" name="from" value="single" />
        {{ aform.hidden_tag('csrf_token') }}
        {{ aform.s(value="available") }}
        <input type="submit" name="submit" value="Available" />
        </form>
        <form method="post" action="{{ url_for('matches.show', match_id=match.id, action='status') }}">
        <input type="hidden" name="from" value="single" />
        {{ aform.hidden_tag('csrf_token') }}
        {{ aform.s(value="maybe") }}
        <input type="submit" name="submit" value="Maybe" />
        </form>
        <form method="post" action="{{ url_for('matches.show', match_id=match.id, action='status') }}">
        <input type="hidden" name="from" value="single" />
        {{ aform.hidden_tag('csrf_token') }}
        {{ aform.s(value="unavailable") }}
        <input type="submit" name="submit" value="Unavailable" />
        </form>
        </div>
        {%- endif %}
    </div>
    </div>

{% endblock %}

