{% extends "layout.html" %}

{% block title %}
{% if team %}{{team.name}} -{%endif%}
{% if previous_only %}
Past Matches
{% else %}
All Matches
{% endif %}
{% endblock %}

{% block body %}
<div class="page-header">
    <h1>
        {% if team %}{{team.name}} <small>{% endif %}
        {% if previous_only %}
        Past Matches
        {% else %}
        All Matches
        {% endif %}
        {% if team %}</small>{% endif %}
    </h1>
</div>

  {% macro matches_table(results, title, matches) %}
    {% if title and matches|count %}<h2>{{ title }}</h2>{% endif %}
      {%- for m in matches %}
        {% if loop.first -%}
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Teams</th>
                <th>Competition</th>
                {% if results %}<th>Results</th>{% endif %}
            </tr>
        </thead>
        <tbody>
        {% endif -%}
          <tr>
            <td>{{ m.date|matches_date_format }}</td>
            <td>{{ m.date|matches_time_format }}</td>
            <td><a href="{{ url_for('matches.show', match_id=m.id) }}">
            {{m.team.tag}} vs. {{m.opponent.tag }}</a></td>
            <td>{{ m.competition.abbr }}</td>
            {% if results %}
                <td>
                {% if m.results %}
                    {% set r = m.results[0] %}
                    <a href="{{url_for('results.show',
                    cmatch_id=r.id)}}">
                    {% set f = '' %}
                    {% if r.is_forfeit %}
                        {% set f = 'Forfeit ' %}
                    {% endif %}
                    {% if r.wins > r.losses %}
                        <strong class="res_win">{{f}}Win</strong>
                    {% elif r.wins < r.losses %}
                        <strong class="res_loss">{{f}}Loss</strong>
                    {% else %}
                        <strong class="res_draw">Draw</strong>
                    {% endif %}
                    {% if not r.is_forfeit %}
                        ({{ r.wins }} -
                        {{ r.losses }}
                        {%- if r.draws %}
                            - {{ r.draws }}
                        {%- endif -%})
                    {%- endif -%}
                    </a>
                {% else %}
                    {% if g.user.can_edit_team(m.team_id) %}
                        <a href="{{ url_for('results.add', match_id=m.id)
                            }}">Add Results <i class="icon-plus-sign"></i></a>
                    {% endif %}
                {% endif %}
                </td>
            {% endif %}
          </tr>

        {% if loop.last -%}
        </tbody>
        </table>
        {% endif -%}
      {% endfor -%}
  {%- endmacro %}

  {% if previous_only %}
      {{ matches_table(True, None, previous) }}
  {% else %}
      {{ matches_table(False, "Upcoming Matches", upcoming) }}
      {{ matches_table(True, "Past Matches", previous) }}
  {% endif %}

  {%- if not upcoming|count and not previous|count %}

  <p>No matches here!
  {% if not g.user.is_guest %}
      {% if g.user.is_admin %}
      Why don't you <a href="{{url_for('matches.add')}}">add some</a>?
      {% else %}
      Ask your team leaders to add some.
      {%- endif %}
  {% else %}
      Why don't you <a href="{{url_for('teams.add')}}">create a team</a> and start adding some?
  {%- endif %}
  </p>

  {%- endif %}


{% endblock %}
