{% macro opponent(form, team_id, opponent_id=0) %}
  {% set adding = opponent_id == 0 %}
  <h2>{%- if adding %}Add{%-else%}Edit{%-endif%} Opponent</h2>
  <form 
  {% if adding %}
    action="{{url_for('team_admin.add_opponent',team_id=team_id)}}" 
  {% else %}
    action="{{url_for('team_admin.opponent',team_id=team_id,opponent_id=opponent_id,action='edit')}}" 
  {% endif %}
  method="post" id="opponent_form">
    {{ form.hidden_tag() }}

    {% if form.errors %}
        <p>Uh oh! Please fix the errors below and try again.</p>
    {% endif %}

    {% for field in form if not field|is_hidden_field -%}
        {{ field.type }}
        {% if field.type != 'FieldList' -%}
            {% if field.name == 'team_id' and field.choices|count == 1 %}
                <input type="hidden" name="{{field.name}}" 
                    value="{{ field.choices[0][0] }}"/>
            {% else %}
                <p>
                {{ field.label }}<br/>
                {% if field.errors -%}
                    <ul class="errors">
                    {% for error in field.errors %}<li>{{error}}</li>{% endfor -%}
                    </ul>
                {% endif -%}
                {{ field }}
                </p>
            {% endif -%}
        {% endif -%}
    {% endfor -%}

    <p>
      <input type="submit" name="submit"
        value="{%- if adding %}Add Opponent{% else %}Save Opponent{% endif %}"/>
    </p>
  </form>
{% endmacro %}

{% macro time_zone(form) %}
    <h2>Update Time Zone</h2>
    <form id="time_zone_form"
    action="{{url_for('account.update_time_zone')}}" method="post">
        {{ form.hidden_tag() }}

        {% if form.errors %}
            <p>Uh oh! Please fix the errors below and try again.</p>
        {% endif %}

        {% for field in form if not field|is_hidden_field -%}
            <p>
            {{ field.label }}<br/>
            {% if field.errors -%}
                <ul class="errors">
                {% for error in field.errors %}<li>{{error}}</li>{% endfor -%}
                </ul>
            {% endif -%}
            {{ field }}
            </p>
        {% endfor -%}

        <p><input type="submit" name="submit" value="Save"/></p>
    </form>
{% endmacro %}

{% macro server(form, team_id, server_id=0) %}
  {% set adding = server_id == 0 %}
  <h2>{%- if adding %}Add{%-else%}Edit{%-endif%} Server</h2>
  <form
  {% if adding %}
    action="{{url_for('team_admin.add_server',team_id=team_id)}}"
  {% else %}
    action="{{url_for('team_admin.server',team_id=team_id,server_id=server_id,action='edit')}}"
  {% endif %}
  method="post"
  id="server_form">
    {{ form.hidden_tag() }}

    {% if form.errors %}
        <p>Uh oh! Please fix the errors below and try again.</p>
    {% endif %}

    {% for field in form if not field|is_hidden_field -%}
        {% if field.type != 'FieldList' -%}
            {% if field.name == 'team_id' and field.choices|count == 1 %}
                <input type="hidden" name="{{field.name}}" 
                    value="{{ field.choices[0][0] }}"/>
            {% else %}
                <p>
                {{ field.label }}<br/>
                {% if field.errors -%}
                    <ul class="errors">
                    {% for error in field.errors %}<li>{{error}}</li>{% endfor -%}
                    </ul>
                {% endif -%}
                {{ field }}
                </p>
            {% endif -%}
        {% endif -%}
    {% endfor -%}

    <p>
      <input type="submit" name="submit"
        value="{%- if adding %}Add Server{% else %}Save Server{% endif %}"/>
    </p>
  </form>
{% endmacro %}
