{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block body %}
<div class="page-header">
    <h1>About</h1>
</div>

<div class="row">
<div class="span5">

<p>tardyrush is written in <a href="http://www.python.org/">Python</a> using
the <a href="http://flask.pocoo.org/">Flask microframework</a>.  Its code is
on <a href="http://github.com/kenrobbins/tardyrush">GitHub</a>.</p>

<p>tardyrush uses <a href="http://twitter.github.io/bootstrap/">Twitter
Bootstrap</a>.  All icons except for the copy icon are provided by <a
href="http://glyphicons.com/">Glyphicons</a> and are included with
Bootstrap.  The copy icon is from <a
href="http://www.famfamfam.com/lab/icons/">famfamfam</a>.  I know all
Bootstrap sites look the same, and I know I'm using the default style.  I don't
care.</p>

<p>tardyrush uses <a href="http://jquery.com/">jQuery</a>, <a
href="http://datatables.net/">DataTables</a>, and <a
href="http://jonrohan.github.io/ZeroClipboard/">ZeroClipboard</a>.</p>

<p>tardyrush uses <a
href="https://developers.google.com/speed/libraries/devguide">Google's
CDN</a> for jQuery, <a href="http://www.bootstrapcdn.com/">BootstrapCDN</a>
for Bootstrap, and <a
href="http://www.asp.net/ajaxlibrary/CDN.ashx">Microsoft's
CDN</a> for DataTables.</p>

<p>tardyrush is powered by <a href="http://steampowered.com/">Steam</a>.</p>

</div>
</div>
{% endblock %}
