{% extends "layout.html" %}
{% block body %}
  <h2>{%- if adding %}Add{%-else%}Edit{%-endif%} Forum Helper</h2>

    {% if form.errors %}
        <p>Uh oh! Please fix the errors below and try again.</p>
    {% endif %}

    <p>
    A forum helper posts a message to your forum so
    all your players know when a new match has been posted.
    </p>
    <p>
    <strong>You must create the forum user yourself.</strong>
    The username and password you
    specify will be used to sign in to your forums and post the message.  Make
    sure your user has appropriate permissions to post to the forum specified.
    </p>

  <form action="" method="post">
    {{ form.hidden_tag() }}

    {% for field in form if field.type != 'HiddenField' -%}
        {% if field.type != 'FieldList' -%}
            <p>
            {{ field.label }}
            {% if field.name == 'url' %}
            <span>(e.g., http://forums.raraavises.net &mdash; do not
            include a trailing file name like index.php)</span>
            {% endif %}
            <br/>
            {% if field.errors -%}
                <ul class="errors">
                {% for error in field.errors %}<li>{{error}}</li>{% endfor -%}
                </ul>
            {% endif -%}
            {{ field }}
            </p>
        {% endif -%}
    {% endfor -%}

    <p>
      <input type="submit" name="submit"
        value="{%- if adding %}Add Forum Helper{% else %}Save Forum Helper{% endif %}"/>
    </p>
  </form>

    {% if forum_bot_id %}
    <h2>Delete Forum Helper</h2>
    <form method="post" action="{{url_for('forum_bot', team_id=team.id,
    forum_bot_id=forum_bot_id, action='delete')}}">
    <p>
        <input type="submit" name="submit" value="Delete Forum Helper"/>
    </p>
    </form>
    {% endif %}
{% endblock %}


