{%- macro text(m) -%}
Match: {{m.team.tag|safe}} vs {{m.opponent.tag|safe}}
{%- endmacro -%}

{%- macro details(m) -%}
Opponent: {{m.opponent.name|safe}}
Competition: {{m.competition.name|safe}}
{% if m.server -%}
Server: {{m.server.name|safe}} ({{m.server.address|safe}})
{% if m.password|trim|length -%}
Password: {{m.password|safe}}
{%- endif -%}
{%- endif -%}
{%- endmacro -%}

{%- macro loc(m) -%}
{% if m.server -%}
{{m.server.name|safe}}, {{m.server.address|safe}} {% if
m.password|trim|length -%}(Password: {{m.password|safe}})
{%- endif -%}
{%- endif -%}
{%- endmacro -%}

{%- macro dates(m) -%}
{{ m.date.strftime("%Y%m%dT%H%M%SZ") }}/{{ (m.date|add_time(hours=1)).strftime("%Y%m%dT%H%M%SZ") }}
{%- endmacro -%}

{%- macro link(m) -%}
{{ "http://www.google.com/calendar/event"|urlencode(action="TEMPLATE",
trp="true", sprop=[ "name:tardyrush", url_for('show_match', match_id=m.id,
_external=True) ], text=text(m), details=details(m),
location=loc(m), dates=dates(m)) }}
{%- endmacro -%}
