<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link href="/static/css/main.css" media="screen" rel="stylesheet" type="text/css" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js"></script>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet" />
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>

        {%block head%}{%endblock%}

        <title>Tardy Rush - {%block title%}{%endblock%}</title>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="/">tardyrush</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li {% if page.top in ('matches', 'my_matches') %}class="active"{%endif%}>
                                <a href="{{ url_for('matches.my_matches') }}">Matches</a></li>
                            <li {% if page.top in ('teams', 'my_teams', 'team') %}class="active"{% endif %}>
                                <a href="{{ url_for('teams.all') }}">Teams</a></li>
                            <li {% if page.top == 'contact' %}class="active"{%endif%}>
                                <a href="{{url_for('.contact')}}">Contact</a></li>
                        </ul>
                        {% if not g.user.is_guest %}
                            <p class="navbar-text pull-right">
                                Signed in as <a href="{{url_for('account.settings')}}">{{g.user.name}}</a>
                                <a id="signout" href="{{url_for('account.signout')}}">Sign Out</a>
                            </p>
                        {% else %}
                            <form class="navbar-form pull-right" action="{{url_for('account.signin')}}" method="post">
                                <input type="hidden" name="next" value="{{ request.url }}"/>
                                <input type="image" src="/static/sits_small.png"
                                    name="submit_sits" value="Sign In Through Steam" title="Sign In Through Steam"/>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                {%- if page.top in ('matches', 'my_matches') %}
                    <div class="span3">
                        <div class="well sidebar-nav">
                            <ul class="nav nav-list">
                                <li class="nav-header">All Matches</li>
                                <li {% if page.sub == 'all_matches' or page.top == 'matches'%}class="active"{%-endif %}>
                                    <a href="{{ url_for('matches.all') }}">Show matches</a>
                                </li>
                                {%- if g.user.is_on_team() -%}
                                    <li class="nav-header">My Matches</li>
                                    <li {% if page.top == 'my_matches' and page.sub == 'upcoming' %}class="active"{%-endif %}>
                                        <a href="{{ url_for('matches.my_matches') }}">Upcoming matches</a>
                                    </li>
                                    <li {% if page.top == 'my_matches' and page.sub == 'previous' %}class="active"{%-endif %}>
                                        <a href="{{ url_for('matches.my_previous_matches') }}">Past matches</a>
                                    </li>
                                    {%- if g.user.is_admin -%}
                                        <li {% if page.sub == 'add_match' %}class="active"{%-endif %}>
                                            <a href="{{url_for('matches.add')}}">Add a match</a>
                                        </li>
                                    {%- endif -%}
                                {%- endif -%}
                            </ul>
                        </div>
                    </div>

                {%- elif page.top in ('teams', 'my_teams', 'team') %}

                    <div class="span3">
                        <div class="well sidebar-nav">
                            <ul class="nav nav-list">
                                <li class="nav-header">All Teams</li>
                                <li {% if page.sub == 'all_teams' %}class="active"{%-endif%}>
                                    <a href="{{ url_for('teams.all') }}">Show teams</a>
                                </li>
                                <li {% if page.sub == 'add_team' %}class="active"{%-endif %}>
                                    <a href="{{ url_for('teams.add') }}">Create a team</a>
                                    </li>

                                {%- if g.user.is_on_team() -%}
                                    {%- if page.top != 'team' -%}
                                        <li class="nav-header">My Team</li>
                                    {%- else -%}
                                        <li class="nav-header">This Team</li>
                                        {%- endif -%}
                                    <li class="{% if page.sub in ('main', 'all_my') %}active {%-endif%} ">
                                        <a href="{{ url_for('teams.show',team_id=team.id) }}">Summary</a></li>
                                    <li class="{% if page.sub == 'matches' %}active {%-endif%}">
                                        <a href="{{ url_for('teams.matches', team_id=team.id) }}">Matches</a></li>
                                    <li class="{% if page.sub == 'player_stats' %}active {%-endif%}">
                                    <a href="{{ url_for('teams.stats', team_id=team.id) }}">Stats</a></li>
                                    {%- if g.user.can_edit_team(team.id) -%}
                                        <li class="nav-header">My Team Administration</li>
                                        <li class="{% if page.sub == 'admin' %}active {%-endif%}">
                                            <a href="{{ url_for('team_admin.index',
                                                team_id=team.id)
                                                }}">Administration home</a></li>
                                        <li class="{% if page.sub == 'edit' %}active {%-endif%}">
                                        <a href="{{ url_for('teams.show',
                                            team_id=team.id, action='edit')
                                            }}">Edit my team</a></li>
                                    {%- endif -%}
                                {%- endif -%}
                            </ul>
                        </div>
                    </div>
                {%- endif %}

                <div class="span9">
                    {%- for category, message in get_flashed_messages(with_categories=true) %}
                    <div class="alert alert-{{ category }}">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {% if category == 'error' %}
                                <strong>Uh oh!</strong>
                            {% elif category == 'success' %}
                                <strong>Hooray!</strong>
                            {% elif category == 'info' %}
                                <strong>Yo!</strong>
                            {% endif %}
                            {{ message }}
                        </div>
                    {%- endfor %}

                    {% block body %}{% endblock %}
                </div>
            </div>

            <hr/>
            <div class="footer">
                <p>&copy; 2010-2013 tardyrush.com.  All rights reserved.  <a
                    href="http://steampowered.com">Powered By Steam.</a></p>
            </div>
        </div>
    </body>
</html>
