{% extends "layout.html" %}
{% block body %}
  {% if previous_only %}
  <h2>Previous Matches</h2>
  {% else %}
  <h2>All Matches</h2>
  {% endif %}

  {% macro matches_table(results, title, matches) %}
    {% if title and matches|count %}<h3>{{ title }}</h3>{% endif %}
      {%- for m in matches %}
        {% if loop.first -%}
        <table>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Teams</th>
            <th>Competition</th>
            {% if results %}<th>Results</th>{% endif %}
          </tr>
        {% endif -%}
          <tr>
            <td>{{ m.date|matches_date_format }}</td>
            <td>{{ m.date|matches_time_format }}</td>
            <td><a href="{{ url_for('show_match', match_id=m.id) }}">
            {{m.team.tag}} vs. {{m.opponent.tag }}</a></td>
            <td>{{ m.competition.abbr }}</td>
            {% if results %}
                <td>
                {% if m.results %}
                    {% set r = m.results[0] %}
                    <a href="{{url_for('show_completed_match',
                    cmatch_id=r.id)}}">
                    {% set f = '' %}
                    {% if r.final_result_method|is_forfeit %}
                        {% set f = 'Forfeit ' %}
                    {% endif %}
                    {% if r.wins > r.losses %}
                        <strong class="res_win">{{f}}Win</strong>
                    {% elif r.wins < r.losses %}
                        <strong class="res_loss">{{f}}Loss</strong>
                    {% else %}
                        <strong class="res_draw">Draw</strong>
                    {% endif %}
                    {% if not r.final_result_method|is_forfeit %}
                        ({{ r.wins }} - 
                        {{ r.losses }}
                        {%- if r.draws %}
                            - {{ r.draws }}
                        {%- endif -%})
                    {%- endif -%}
                    </a>
                {% else %}
                    {% if m.team_id|can_edit_team %}
                        <a class="add_results" href="{{ url_for('add_results', match_id=m.id) }}">Add Results</a>
                    {% endif %}
                {% endif %}
                </td>
            {% endif %}
          </tr>

        {% if loop.last -%}
        </table>
        {% endif -%}
      {% endfor -%}
  {%- endmacro %}

  {% if previous_only %}
      {{ matches_table(True, None, previous) }}
  {% else %}
      {{ matches_table(False, "Upcoming Matches", upcoming) }}
      {{ matches_table(True, "Previous Matches", previous) }}
  {% endif %}

  {%- if not upcoming|count and not previous|count %}

  <p>No matches here!
  {% if g.user %}
      {% if g.is_admin %}
      Why don't you <a href="{{url_for('add_match')}}">add some</a>?
      {% else %}
      Ask your team leaders to add some.
      {%- endif %}
  {% else %}
      Why don't you <a href="{{url_for('add_team')}}">create a team</a> and start adding some?
  {%- endif %}
  </p>

  {%- endif %}


{% endblock %}
