{% extends "layout.html" %}
{% block body %}

<div class="jumbotron">
  <h1>tardyrush</h1>
  <p>tardyrush makes it easy to keep track of your gaming team's matches.</p>
  <p> You can easily track match availability, team stats, and player stats.</p>
  <p> If you have a Steam account, then you already have a tardyrush account.</p>
  <p>
    <form action="{{url_for('account.signin')}}" method="post">
    <input type="hidden" name="next" value="{{ request.url }}"/>
    <input type="image" src="/static/img/sits_small.png"
    name="submit_sits" value="Sign In Through Steam" title="Sign In Through Steam"/>
    </form>
  </p>
</div>

{% endblock %}
