{% extends "layout.html" %}
{% block body %}
<h2>{%- if not all_teams %}My{%endif%} Teams</h2>

{%- for t in teams %}
    {% if loop.first -%}
        <table>
            <tr>
                <th>Name</th>
                <th>Tag</th>
                <th>Web Site</th>
                <th>Join Date</th>
            </tr>
    {% endif -%}
        <tr>
            <td><a title="View this team's details" href="{{ url_for('show_team', team_id=t.id) }}">{{ t.name }}</a></td>
            <td>{{ t.tag }}</td>
            {% if t.url %}
            <td><a rel="nofollow" title="Go to this team's web site" href="{{ t.url }}">{{ t.url }}</a></td>
            {%- else %}
            <td></td>
            {%- endif %}
            <td>{{ t.date_created.strftime('%B %d, %Y') }}</td>
        </tr>
    {% if loop.last -%}
        </table>
    {% endif -%}

{%- else %}

  <p>No teams here!
      Why don't you <a href="{{url_for('add_team')}}">create one</a>?
  </p>
{%- endfor %}

{% endblock %}

