{% extends "layout.html" %}
{% block title %}
{%- if adding %}Create Team{%else%}Edit Team{%endif%}
{% endblock %}
{% block teamname %}
{% if adding %}
Create a team
{%else%}
{{team.name}}
{%endif%}
{% endblock %}
{% block body %}
<div class="page-header">
    <h1>
    {% if adding %}
    Create a team
    {%else%}
    {{team.name}} <small>Edit Team</small>
    {%endif%}
    </h1>
</div>

    <form action="" method=post>
        <fieldset>
            {{ form.hidden_tag() }}
            {% for field in form if not field|is_hidden_field -%}
                {% if field.type != 'FieldList' -%}
                    <div class="control-group {% if field.errors -%} error{%-endif-%}">
                        {{ field.label(class="control-label") }}
                        <div class="controls">
                            {{ field(class='span5') }}
                            {% if field.errors|length > 1 -%}
                                <ul class="help-block">
                                    {% for error in field.errors %}<li>{{error}}</li>{% endfor -%}
                                </ul>
                            {% elif field.errors|length == 1 -%}
                                <span class="help-inline">{{field.errors[0]}}</span>
                            {% endif -%}
                        </div>
                    </div>
                {% endif -%}
            {% endfor -%}

            <button type="submit" class="btn btn-primary"/>
                {%- if adding %}Create Team{% else %}Save Team{% endif %}
            </button>
        </fieldset>
    </form>

    {% if not adding -%}
    <form action="" method=post>
    <input type="hidden" name="edit_players" value="1" />
    {{ players_form.hidden_tag() }}
    {% for field in players_form if not field|is_hidden_field -%}
        {% if field.type == 'FieldList' %}
        <h2>Edit Players</h2>
        <div class="span5 flush-left">
        <table class="table">
            <thead>
            <tr>
            <th>Player</th>
            <th>Status</th>
            <th>Delete?</th>
            </tr>
            </thead>
            <tbody>
            {% for f in field %}
                {% if f.type == 'FormField' %}
                    <tr>
                        <td>
                            {{ players[f['user_id'].data] }} {{ f.user_id }}
                        </td>
                        <td>
                            {% if f.status.disabled %}
                                {{ f.status(class="input-small", disabled='disabled') }}
                            {% else %}
                                {{ f.status(class="input-small") }}
                            {% endif -%}
                        </td>
                        <td>
                            <label class="checkbox inline">
                            {% if f['delete'].disabled %}
                                {{ f.delete(disabled="disabled") }}
                            {% else %}
                                {{ f.delete }}
                            {% endif -%}
                            </label>
                        </td>
                    </tr>
                {% endif -%}
            {% endfor %}
            </tbody>
            </table>
        </div>
        {% endif -%}
    {% endfor -%}
        <div class="clearfix"></div>
        <button type="submit" class="btn btn-primary">Save Players</button>
        </form>
    {% endif -%}

    {% if team_id %}
    <div class="clearfix"></div>
    <div>
  <h2>Delete Team</h2>
  <form action="{{url_for('teams.show',team_id=team_id,action='delete')}}" method="post">
      <button type="submit" class="btn btn-danger">Delete Team</button>
  </form>
    </div>
  {% endif %}
{% endblock %}
