{% extends "layout.html" %}
{% block title %}{%- if not all_teams %}My{%endif%} Teams{% endblock %}
{% block body %}
<div class="page-header">
    <h1>{%- if all_teams %}All{%else%}My{%endif%} Teams</h1>
</div>

{%- for t in teams %}
    {% if loop.first -%}
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Name</th>
                <th>Tag</th>
                <th>Web Site</th>
                <th>Join Date</th>
            </tr>
        </thead>
        <tbody>
    {% endif -%}
        <tr>
            <td><a title="View this team's details" href="{{ url_for('teams.show', team_id=t.id) }}">{{ t.name }}</a></td>
            <td>{{ t.tag }}</td>
            {% if t.url %}
            <td><a rel="nofollow" title="Go to this team's web site" href="{{ t.url }}">{{ t.url }}</a></td>
            {%- else %}
            <td></td>
            {%- endif %}
            <td>{{ t.date_created.strftime('%B %d, %Y') }}</td>
        </tr>
    {% if loop.last -%}
        </tbody>
        </table>
    {% endif -%}

{%- else %}

  <p>No teams here!
      Why don't you <a href="{{url_for('teams.add')}}">create one</a>?
  </p>
{%- endfor %}

{% endblock %}

